PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2024-06-13 16:18:49.646459');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2024-06-13 16:18:49.798540');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2024-06-13 16:18:49.973150');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'4045826a-6238-4b9b-8c65-141aa05c1673','Rafael Diego Nina Calizaya',1,'[{"added": {}}]',7,1,'2024-06-13 16:20:40.805441');
INSERT INTO django_admin_log VALUES(2,'c5ca0903-cfd1-4b6b-9390-5ad4bfc50508','Programacion Web 2',1,'[{"added": {}}]',8,1,'2024-06-13 16:20:56.788484');
INSERT INTO django_admin_log VALUES(3,'57c15dd2-afe5-43f5-ab62-c198bb9ec89d','Nota del alumno Rafael Diego Nina Calizaya en Programacion Web 2: 16.75',1,'[{"added": {}}]',9,1,'2024-06-13 16:22:27.207758');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$720000$6F9shWfb9mQuZKLz62Ped9$v1v/9nNuQaVZJ7LnOjX4e6uc4MWAnFN60cjZxOlNYb0=','2024-06-13 16:19:38.904871',1,'admin','','rninacal@unsa.edu.pe',1,1,'2024-06-13 16:19:30.125080','');
INSERT INTO auth_user VALUES(2,'pbkdf2_sha256$720000$72v9btcQWKIBzuKeNGJedw$QE6urd4/O1YbooJRdNpNkOH5v2RAIiWsFLaWh1HFNuE=','2024-06-13 21:30:21.642391',1,'pweb2','','',1,1,'2024-06-13 21:30:02.786058','');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('n5w87dnhww04xf8jr0swifb49ytc0wg6','.eJxVjMsOwiAQRf-FtSFlKo9x6b7fQAYGpGogKe3K-O_apAvd3nPOfQlP21r81tPiZxYXocTpdwsUH6nugO9Ub03GVtdlDnJX5EG7nBqn5_Vw_w4K9fKtyVi2CjKGEUwkFRnZAbtkQk4J4tmwduxyGEaHGiErzhpxsAYyWHTi_QH6PDgA:1sHnAo:eI--6EW4FHyxQK9_YKDVU2xMPST7vjZkooxTuwHpN3A','2024-06-27 16:19:38.953996');
INSERT INTO django_session VALUES('i3li6lufgwcg0owxeao715ihb5oqckvw','.eJxVjMEOwiAQRP-FsyEU2Hbx6L3fQBZYpGpoUtqT8d9tkx70OPPezFt42tbit8aLn5K4Ci0uv12g-OR6gPSgep9lnOu6TEEeijxpk-Oc-HU73b-DQq3s64igwSkVctbIzihL0FlD6BBxQI17DKkjpRm4V4OxjvqkggHKQJHF5wu6_TdD:1sHs1V:NcYtgwKXYZXt000srluTCuWwKyCpkVsYAMWA4tyPazw','2024-06-27 21:30:21.652667');
CREATE TABLE IF NOT EXISTS "sistemaAcademico_alumno" ("idAlumno" char(32) NOT NULL PRIMARY KEY, "nombres" varchar(100) NOT NULL, "apellidos" varchar(100) NOT NULL, "cui" integer NOT NULL);
INSERT INTO sistemaAcademico_alumno VALUES('4045826a62384b9b8c65141aa05c1673','Rafael Diego','Nina Calizaya',20230475);
CREATE TABLE IF NOT EXISTS "sistemaAcademico_curso" ("idCurso" char(32) NOT NULL PRIMARY KEY, "nombre" varchar(100) NOT NULL, "creditos" integer NOT NULL);
INSERT INTO sistemaAcademico_curso VALUES('c5ca0903cfd14b6b93905ad4bfc50508','Programacion Web 2',4);
CREATE TABLE IF NOT EXISTS "sistemaAcademico_notasalumnoporcurso" ("idNotasAlumnoPorCurso" char(32) NOT NULL PRIMARY KEY, "nota" decimal NOT NULL, "alumno_id" char(32) NOT NULL REFERENCES "sistemaAcademico_alumno" ("idAlumno") DEFERRABLE INITIALLY DEFERRED, "curso_id" char(32) NOT NULL REFERENCES "sistemaAcademico_curso" ("idCurso") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO sistemaAcademico_notasalumnoporcurso VALUES('57c15dd2afe543f5ab62c198bb9ec89d',16.75,'4045826a62384b9b8c65141aa05c1673','c5ca0903cfd14b6b93905ad4bfc50508');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',19);
INSERT INTO sqlite_sequence VALUES('django_admin_log',3);
INSERT INTO sqlite_sequence VALUES('django_content_type',9);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "sistemaAcademico_notasalumnoporcurso_alumno_id_c4465733" ON "sistemaAcademico_notasalumnoporcurso" ("alumno_id");
CREATE INDEX "sistemaAcademico_notasalumnoporcurso_curso_id_a4e2c197" ON "sistemaAcademico_notasalumnoporcurso" ("curso_id");
COMMIT;
